    - type: NSUpdate
      args:
          hostname: ben.nsupdate.info
          secret_key: J6ewzaDWcQ
    - type: NSUpdate
      args:
          hostname: hacker-hats.nsupdate.info
          secret_key: 88reQwqPHy
    - type: NSUpdate
      args:
          hostname: gameadmin.nsupdate.info
          secret_key: nZWNMMPyya
    - type: FreeDNS
      args: 
          ipv4_key: z7AJNkZ5ZAg3zzz1462BgFtC
          ipv6_key: vsdGrZzZx3KATgO8IHU4DB3Z

{% for host in groups['home_network'] %}
{% for domain, secret_key in hostvars[host]['dnsupdate_domains'] | zip(hostvars[host]['dnsupdate_secret_keys']) %}
    - type: NSUpdate
      address_provider:
        ipv6: None
      args:
          hostname: {{ domain }}
          secret_key: {{ secret_key }}
{% endfor %}
{% endfor %}
