# Worker connection port
tcp dport {{ buildbot_port }} accept

# Allowed IPs for web interface
{% if buildbot_web_interface_allowed_ipv4 %}
ip saddr { {{ buildbot_web_interface_allowed_ipv4|join(', ') }} } tcp dport {{ buildbot_web_interface_port }} accept
{% endif %}
{% if buildbot_web_interface_allowed_ipv6 %}
ip6 saddr { {{ buildbot_web_interface_allowed_ipv6|join(', ') }} } tcp dport {{ buildbot_web_interface_port }} accept
{% endif %}
