[submodule "pkgs/nixos-secrets"]
	path = pkgs/nixos-secrets
	url = git@github.com:lopsided98/nixos-secrets.git
[submodule "secrets"]
	path = secrets
	url = git@github.com:lopsided98/nixos-config-secrets.git
