#!/bin/bash
set -e

case "$1" in
  x86_64)
    ;;
  armv7h)
    ;;
  any)
    ;;
  *)
    echo Invalid architecture.
    exit
    ;;
esac

mkdir -p "/var/lib/{{ aur_buildbot_worker_service_name }}/worker/chroot/$1"
cp -a /etc/pacman.conf "/var/lib/{{ aur_buildbot_worker_service_name }}/worker/chroot/$1/etc/pacman.conf"

mkdir -p deps
chown {{ aur_buildbot_worker_service_name }}-worker:{{ aur_buildbot_worker_service_name }}-worker deps

args=()
for pkg in "${@:2}"; do
    pkg_urls=($(arch-nspawn -C /etc/pacman.conf "/var/lib/{{ aur_buildbot_worker_service_name }}/worker/chroot/root" --bind-ro=/etc/pacman.d pacman -Sp "${pkg}"))
    cd deps
    wget "${pkg_urls[@]}"
    cd ..
    for pkg_url in "${pkg_urls[@]}"; do
        args+=("-I" $(pwd)/deps/$(basename "${pkg_url}"))
    done
done

/usr/bin/makechrootpkg -c -D /etc/pacman.d -l "$1" -r "/var/lib/{{ aur_buildbot_worker_service_name }}/worker/chroot" "${args[@]}" -- --ignorearch
