[Unit]
Description={{ buildbot_worker_service_name }} worker
Wants=network.target
After=network.target

[Service]
WorkingDirectory={{ buildbot_worker_base_dir }}
ExecStart=/usr/bin/twistd3 -o --nodaemon --pidfile= --syslog --python="/etc/{{ buildbot_worker_service_name }}/worker/buildbot.tac"
Restart=always
User={{ buildbot_worker_service_name }}-worker

[Install]
WantedBy=multi-user.target

