address_provider:
    ipv4: Web()
    ipv6: Local("{{ dnsupdate_interface }}")

dns_services:
{% if dnsupdate_service_file | default(false) %}
{% include dnsupdate_service_file %}
{% endif %}

{% for domain, secret_key in dnsupdate_domains | zip(dnsupdate_secret_keys) %}
    - type: NSUpdate
      address_provider:
        ipv4: None
      args:
          hostname: {{ domain }}
          secret_key: {{ secret_key }}
{% endfor %}
    
cache_file: /var/cache/dnsupdate/dnsupdate.cache
