{{ aur_buildbot_worker_service_name }}-worker ALL=(ALL) NOPASSWD: /var/lib/{{ aur_buildbot_worker_service_name }}/worker/update-chroot
{{ aur_buildbot_worker_service_name }}-worker ALL=(ALL) NOPASSWD: /var/lib/{{ aur_buildbot_worker_service_name }}/worker/build-chroot *
