[Unit]
Description=Weekly renewal of Let's Encrypt's certificates

[Timer]
OnCalendar=weekly
RandomizedDelaySec=1day
Persistent=true

[Install]
WantedBy=timers.target

