<?xml version="1.0" encoding="utf-8"?>
<service>
  <short>{{ buildbot_description }} Master</short>
  <description>{{ buildbot_description }} master node port for access by workers.</description>
  <port protocol="tcp" port="{{ buildbot_port }}"/>
</service>
