#!/bin/bash

case "$1" in
  x86_64)
    ;;
  armv7h)
    ;;
  any)
    ;;
  *)
    echo Invalid architecture.
    exit
    ;;
esac

/usr/bin/makechrootpkg -c -l "$1" -r /var/lib/{{ aur_buildbot_worker_service_name }}/worker/chroot
